.ui.container.body-container {
    margin-top: 75px;
}

.ui.button.button-theme {
    background-color: #2ee59d;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    padding: 15px;
    width: 100%;
    font-size: 1.25em;
    font-weight: bold;
    border: 1px solid rgb(211, 211, 211, .5);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    font-family: 'Livvic', sans-serif;
    /* border-radius: 45px; */
    /* box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); */
    /* color: #000; */
    /* background-color: #fff; */
    /* text-transform: uppercase; */
    /* letter-spacing: 3px; */
}

.ui.button.button-theme:active {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    /* transform: translateY(7px); */
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {

    10%,
    90% {
        transform: translate3d(-11px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(12px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-14px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(14px, 0, 0);
    }
}

.ui.button.button-theme.smaller {
    width: 75% !important;
}

.ui.button.button-theme.shorter {
    padding: 8px;
}

.ui.button.button-theme.orange {
    background-color: #f39c12 !important;
    box-shadow: 0px 15px 20px rgba(243, 156, 18, .4);
}

.ui.button.button-theme.red {
    background-color: #ee5253 !important;
    box-shadow: 0px 15px 20px rgba(231, 76, 60, 0.4);
}