 * {
     font-family: 'Quicksand', sans-serif !important;
 }


 i.icon {
     font-family: Icons !important;
 }

 .ui.container.body-container {
     margin-top: 75px;
 }

 /* https://css-tricks.com/almanac/properties/b/box-shadow/ */
 .effect6 {
     position: relative;
     -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
     box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
 }

 .effect6:before,
 .effect6:after {
     content: "";
     position: absolute;
     z-index: -1;
     -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
     -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
     box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
     top: 50%;
     bottom: 0;
     left: 10px;
     right: 10px;
     -moz-border-radius: 100px / 10px;
     border-radius: 100px / 10px;
 }

 .effect6:after {
     right: 10px;
     left: auto;
     -webkit-transform: skew(8deg) rotate(3deg);
     -moz-transform: skew(8deg) rotate(3deg);
     -ms-transform: skew(8deg) rotate(3deg);
     -o-transform: skew(8deg) rotate(3deg);
     transform: skew(8deg) rotate(3deg);
 }

 .fade-in {
     opacity: 0;
 }

 .fade-in.visible {
     transition: opacity 1s ease-in;
     opacity: 1;
 }

 .pad-top {
     margin-top: 14px !important;
 }

 .ui.fluid.button,
 .ui.fluid.buttons {
     width: 75%;
     margin: 0 auto;
 }

 .ui.fluid.button.medium-width-button,
 .ui.fluid.buttons.medium-width-button {
     width: 91%;
 }

 .full-width-button {
     width: 100% !important;
 }

 .ui.inverted.menu {
     background: #1f88be;
 }

 .ui.menu .item {
     font-weight: bold;
 }


 .ui.green.button,
 .ui.green.buttons .button {
     background: #26c281;
 }

 .green {
     color: green;
 }

 .red {
     color: red;
 }

 .orange {
     color: orange;
 }

 .center {
     text-align: center !important;
 }

 .recharts-wrapper {
     margin: 0 auto;
 }

 .example-enter {
     opacity: 0.01;
 }

 .example-enter.example-enter-active {
     opacity: 1;
     transition: opacity 500ms ease-in;
 }

 .example-leave {
     opacity: 1;
 }

 .example-leave.example-leave-active {
     opacity: 0.01;
     transition: opacity 1000ms ease-in;
 }

 .card-container {
     margin-top: 40px !important;
 }

 .card-list-margin {
     margin-bottom: 25px !important;
 }