.navbar {
    padding: .2rem 1rem;
}

.navbar-collapse.collapsing,
.navbar-collapse.show {
    overflow: hidden;
}

.navbar-vertical .navbar-nav .nav-link>i {
    min-width: 1.55rem;

}

@media (max-width: 767.98px) {
    .navbar-nav .dropdown-menu {
        box-shadow: 0 50px 100px rgba(50, 50, 93, 0.1), 0 15px 35px rgba(50, 50, 93, 0.15), 0 5px 15px rgba(0, 0, 0, 0.1);
    }
}

.user-menu-drop-down {
    top: -7px !important;
    left: -62px !important;
    transform: translate3d(-73px, 56px, 0px) !important;
    padding-right: 45px !important;
}